:root {
  --blue-900: hsl(226, 43%, 10%);
  --blue-800: hsl(235, 46%, 20%);
  --blue-700: hsl(236, 41%, 34%);
  --blue-500: hsl(246, 80%, 60%);
  --blue-400: hsl(235, 45%, 61%);
  --blue-200: hsl(195, 74%, 62%);
  --blue-100: hsl(236, 100%, 87%);

  --red-400: hsl(348, 100%, 68%);
  --red-200: hsl(15, 100%, 70%);

  --orange-200: hsl(43, 84%, 65%);
  --green-200: hsl(145, 58%, 55%);
  --violet-500: hsl(264, 64%, 52%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: var(--blue-900);
  color: white;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

ul {
  list-style: none;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 70rem;
  width: 100%;
  max-height: 32.5rem;
}

/* CARD PROFILE */
/* ======================================================== */

#dashboard {
  display: grid;
  grid-template-columns: 15.9375rem 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.875rem;
}

.profile--card {
  background-color: var(--blue-800);
  border-radius: 0.875rem;
  overflow: hidden;
}

.user {
  background-color: var(--blue-500);
  padding: 2.125rem 1.875rem;
  border-radius: 0.875rem;
}

.photo {
  width: 5.375rem;
  height: 5.375rem;
  padding: 0.25rem;
  background-color: white;
  border-radius: 50%;
}

.info {
  margin-top: 2.5rem;
  margin-left: 0.3125rem;
}

.info small {
  color: var(--blue-100);
}

.info .name {
  margin-top: 0.625rem;
  margin-bottom: 2rem;
  font-size: 2.375rem;
  font-weight: 300;
}

nav .menu {
  padding: 1.75rem 2.4375rem 0;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  gap: 1.5rem;
}

.menu .menu-item a {
  text-decoration: none;
  color: var(--blue-400);
  cursor: pointer;
  transition: color 0.3s;
}

.menu-item a:hover {
  color: white;
}

.menu-item.active a {
  color: white;
}

/* TODO LIST */
/* ======================================================= */

.tracing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15.375rem 15.375rem;
  grid-gap: 1.875rem;
}

.time--card {
  position: relative;
  border-radius: 0.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time--card.work--color .image-wrap {
  background-color: var(--red-200);
}
.time--card.play--color .image-wrap {
  background-color: var(--blue-200);
}
.time--card.study--color .image-wrap {
  background-color: var(--red-400);
}
.time--card.exercise--color .image-wrap {
  background-color: var(--green-200);
}
.time--card.social--color .image-wrap {
  background-color: var(--violet-500);
}
.time--card.self-care--color .image-wrap {
  background-color: var(--orange-200);
}

.image-wrap {
  width: 100%;
  height: 3.75rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.image-wrap img {
  width: 3.75rem;
  margin-top: -0.9375rem;
  object-fit: contain;
}

/* CONTENT CARD */
/* ======================================================= */

.content {
  width: 100%;
  height: 12.5rem;
  margin-top: -1.25rem;
  padding: 2rem 1.5rem;
  background-color: var(--blue-800);
  border-radius: 0.875rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.content:hover {
  background-color: var(--blue-700);
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content header .title {
  font-size: 1.125rem;
  font-weight: 400;
}

.content .info {
  margin: 1.5rem 0 0;
}

.content .info .hours {
  font-size: 3.5rem;
  font-weight: 300;
}

.content .info .last--hours {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.625rem;
}

@media (max-width: 62.5rem) {
  main {
    align-items: flex-start;
  }

  .container {
    width: 90%;
    max-height: 100%;
  }

  #dashboard {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .user .info,
  .user .info .name {
    margin: 0;
  }

  .user .info .name {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  nav .menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.75rem 2.4375rem;
  }

  .tracing {
    display: flex;
    flex-direction: column;
  }

  .time--card .content {
    height: auto;
  }

  .time--card .info {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .time--card .info .hours {
    font-size: 2.4rem;
  }
}
